docker-volumes/node-red-data/.flows.json.backup
[
    {
        "id": "de1d362b6add02c8",
        "type": "tab",
        "label": "Smartfactory_MPS08_MPS03",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fab2d58a06cfd3d1",
        "type": "tab",
        "label": "Hello_World",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "658e7acbc1fcd9c6",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://131.173.65.46:4840/",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "df028ab389c68fbf",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "12c5af6d4a02c677",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5b34982845f30fe4",
        "type": "ui_group",
        "name": "Standard",
        "tab": "df028ab389c68fbf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd943775f57faf9f",
        "type": "OpcUa-Client",
        "z": "de1d362b6add02c8",
        "endpoint": "658e7acbc1fcd9c6",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "Read Client MSP08",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "98e12b06f48a646c"
            ],
            []
        ]
    },
    {
        "id": "98e12b06f48a646c",
        "type": "debug",
        "z": "de1d362b6add02c8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "bc4e12c887de4718",
        "type": "inject",
        "z": "de1d362b6add02c8",
        "name": "Read MSP08 WorkpieceAvailable",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=10000;datatype=Boolean",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "fd943775f57faf9f"
            ]
        ]
    },
    {
        "id": "3a2b623ce6daa93b",
        "type": "inject",
        "z": "de1d362b6add02c8",
        "name": "Write MSP08 ExtendGripper True",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=10104;datatype=Boolean",
        "payload": "true",
        "payloadType": "bool",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "97e2972e5b6a8d57"
            ]
        ]
    },
    {
        "id": "97e2972e5b6a8d57",
        "type": "OpcUa-Client",
        "z": "de1d362b6add02c8",
        "endpoint": "658e7acbc1fcd9c6",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "Write Client MSP08",
        "x": 610,
        "y": 320,
        "wires": [
            [
                "98e12b06f48a646c"
            ],
            []
        ]
    },
    {
        "id": "05fd2aa0d38cdd63",
        "type": "inject",
        "z": "de1d362b6add02c8",
        "name": "Write MSP08 OpenGripper True",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=10127;datatype=Boolean",
        "payload": "true",
        "payloadType": "bool",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "97e2972e5b6a8d57"
            ]
        ]
    },
    {
        "id": "dfb612fa36a77182",
        "type": "inject",
        "z": "de1d362b6add02c8",
        "name": "Read MSP08 GripperExtended",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=10004;datatype=Boolean",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "fd943775f57faf9f"
            ]
        ]
    },
    {
        "id": "7bc9e880b3c88e5c",
        "type": "inject",
        "z": "de1d362b6add02c8",
        "name": "Read MSP08 GripperReacted",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=10005;datatype=Boolean",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "fd943775f57faf9f"
            ]
        ]
    },
    {
        "id": "c867ab0658dcee0c",
        "type": "inject",
        "z": "de1d362b6add02c8",
        "name": "Write MSP08 OpenGripper False",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=10127;datatype=Boolean",
        "payload": "false",
        "payloadType": "bool",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "97e2972e5b6a8d57"
            ]
        ]
    },
    {
        "id": "fc51f9eda849db95",
        "type": "inject",
        "z": "de1d362b6add02c8",
        "name": "Write MSP08 ExtendGripper False",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=10104;datatype=Boolean",
        "payload": "false",
        "payloadType": "bool",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "97e2972e5b6a8d57"
            ]
        ]
    },
    {
        "id": "c28ee6a2ef54f1f4",
        "type": "inject",
        "z": "de1d362b6add02c8",
        "name": "Write MSP08 HandlingToUpstramStation False",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=10124;datatype=Boolean",
        "payload": "false",
        "payloadType": "bool",
        "x": 280,
        "y": 580,
        "wires": [
            [
                "97e2972e5b6a8d57"
            ]
        ]
    },
    {
        "id": "7f4d1b88c3941c70",
        "type": "inject",
        "z": "de1d362b6add02c8",
        "name": "Write MSP08 HandlingToDownstreamStation False",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=10125;datatype=Boolean",
        "payload": "false",
        "payloadType": "bool",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "97e2972e5b6a8d57"
            ]
        ]
    },
    {
        "id": "0f70ea8faa196367",
        "type": "inject",
        "z": "de1d362b6add02c8",
        "name": "Write MSP08 HandlingToUpstramStation True",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=10124;datatype=Boolean",
        "payload": "true",
        "payloadType": "bool",
        "x": 270,
        "y": 660,
        "wires": [
            [
                "97e2972e5b6a8d57"
            ]
        ]
    },
    {
        "id": "ad3d562262b3b78c",
        "type": "inject",
        "z": "de1d362b6add02c8",
        "name": "Write MSP08 HandlingToDownstreamStation True",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=4;i=10125;datatype=Boolean",
        "payload": "true",
        "payloadType": "bool",
        "x": 280,
        "y": 700,
        "wires": [
            [
                "97e2972e5b6a8d57"
            ]
        ]
    },
    {
        "id": "68d2962d85592881",
        "type": "inject",
        "z": "fab2d58a06cfd3d1",
        "name": "Hello World",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "7dc08279ba6f31da"
            ]
        ]
    },
    {
        "id": "7dc08279ba6f31da",
        "type": "debug",
        "z": "fab2d58a06cfd3d1",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 200,
        "wires": []
    }
]